.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .container{
    width: auto;
     font-family: 'League Spartan', sans-serif;
  }
  .section1{
   
    display: flex;
    padding: 20px;
    justify-content: space-around;

  }
  .section2{
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }
  .content1{
    width: 800px;

  }
  .content1>h1{
    font-size: 60px ;
    color: hsl(300, 43%, 22%);
    
  }
  .content1>p{
    font-size: 20px ;
    color:  hsl(303, 10%, 53%)  ;
    font-family: 'League Spartan', sans-serif;
    
  }
  .content2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 600px;
    
  }
  .card1{
    margin: 10px;
    border-radius: 20px;
    height: 300px;
  background-color: hsl(300, 43%, 22%);
  }
  .card2{
    margin: 10px;
    margin-top: 40px;
    border-radius: 20px;
    height: 300px;

  background-color: hsl(300, 43%, 22%);
    
  }
  .card3{
    margin: 10px;
    margin-top: 80px;
    border-radius: 20px;
    height: 300px;
    background-color: hsl(300, 43%, 22%);

    
  }
  .info{
    display: flex;
width: 500px;
height: 80px;
justify-content: flex-start;
padding: 10px;
  }
  .image{
margin-left: 33px;
margin-top: 20px;
width: 60px;
height: 60px;
    align-items: center;
    
  }
  .image >img{
    border-radius: 1000px;
    width: 100%; /* To make sure the image takes the full width of its container */
    height: 100%; /* To make sure the image takes the full height of its container */

  }
  .paragraph{

    padding: 30px;
    font-size: 18px;
    color: aliceblue;

  }
  .title{

    align-items: center;
    margin: 10px;


  }
  .title>h5{
    font-size: 15px;
    color: aliceblue;
  }
  .title>h6{
    font-size: 14px;
    color: rgb(249, 113, 192);
    margin-top: -10px;
  }
  .first-start{
    display: flex;

    height: 55px;

    width: 450px;
    justify-content: space-around  ;
    align-items : center ; 
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%)



  }
  .second-start{
    display: flex;
    height: 55px;

    width: 450px;

    margin-left: 60px;
    justify-content: space-around;
    align-items : center ; 
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%)




  }
  .third-start{
    display: flex;
    
    height: 55px;

    width: 450px;

    margin-left: 120px;
    justify-content: space-around;
    align-items : center ; 
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%)


  }
  .section-global {
   
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .title-star{
    font-size: 18px;
    color:  hsl(300, 43%, 22%);

    font-family: 'League Spartan', sans-serif;

  }